@import url(layouts/typography.css);
@import url(layouts/colors.css);
@import url(components/inputs.css);
@import url(components/buttons.css);
@import url(components/cards.css);
@import url(pages/sessions.css);
@import url(pages/home.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

.hr {
    width: 100%;
    border: 1px solid var(--primary-400);
}

.logo {
    width: 155px;
    height: 24px;
    margin: 0 auto;
}