.input-container {
    display: flex;
    align-items: center;
    background-color: white;
    gap: 0.5rem;
    padding: 0.5rem 12px;
    width: 100%;
    border-radius: 6px;
    margin: 0.4rem 0;
}

.form__input {
    appearance: none;
    border: none;
    outline: none;
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-400);
}

.form__label {
    font-family: var(--font-secondary);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--gray-400);
}