.list {
    background-color: var(--gray-100);
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 280px;
    height: fit-content;
}

.list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list__header__title {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--gray-500);
}

.list__header__buttons {
    display: flex;
    align-items: center;
    gap: 1rem
}

.list__cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: move;
}

.move {
    cursor: move;
}

.list__card {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 8px;
}

.list__card__text {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-500);
}