<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./../css/styles.css">
</head>
<body>
    <div class="container-home">
        <aside class="home__aside">
            <div class="aside__navbar">
                <img src="./../assets/images/logo.png" class="logo" alt="logo-image">
                <a href="#" class="navbar__link selected">
                    <img src="./../assets/icons/board.svg" alt="board-icon">
                    <p class="navbar__link__text">My Boards</p>
                </a>
                <a href="#" class="navbar__link">
                    <img src="./../assets/icons/files.svg" alt="board-icon">
                    <p class="navbar__link__text">Closed Boards</p>
                </a>
                <a href="#" class="navbar__link">
                    <img src="./../assets/icons/avatar.svg" alt="board-icon">
                    <p class="navbar__link__text">My Profile</p>
                </a>
            </div>
            <div class="aside__logout">
                <hr class="hr">
                <a href="#" class="navbar__link logout">
                    <img src="./../assets/icons/logout.svg" alt="logout-icon">
                    <p class="form__link">Log Out</p>
                </a>
            </div>
        </aside>
        <main class="home__main">
            <header>
                <h1 class="home__main__title">My Boards</h1>
            </header>
            <section class="home__section-cards">
                <h2 class="cards__title">Starred Boards</h2>
                <div class="container-cards">
                    <div class="card">
                        <p class="card__title">Organizable</p>
                        <div class="card__buttons">
                            <a href="#" class="card-button">
                                <img src="./../assets/icons/trash.svg" alt="trash-icon">
                            </a>
                            <a href="#" class="card-button">
                                <img src="./../assets/icons/star-fill.svg" alt="star-icon">
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <p class="card__title">Codeable</p>
                        <div class="card__buttons">
                            <a href="#" class="card-button">
                                <img src="./../assets/icons/trash.svg" alt="trash-icon">
                            </a>
                            <a href="#" class="card-button">
                                <img src="./../assets/icons/star-fill.svg" alt="star-icon">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="home__section-cards">
                <h2 class="cards__title">Boards</h2>
                <div class="container-cards">
                    <div class="card">
                        <p class="card__title">Organizable</p>
                        <div class="card__buttons">
                            <a href="#" class="card-button">
                                <img src="./../assets/icons/trash.svg" alt="trash-icon">
                            </a>
                            <a href="#" class="card-button">
                                <img src="./../assets/icons/star.svg" alt="star-icon">
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <p class="card__title">Organizable</p>
                        <div class="card__buttons">
                            <a href="#" class="card-button">
                                <img src="./../assets/icons/trash.svg" alt="trash-icon">
                            </a>
                            <a href="#" class="card-button">
                                <img src="./../assets/icons/star.svg" alt="star-icon">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>